<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>testWebStorage</title>
<script type="text/javascript" src="/first/resources/js/jquery-3.7.0.min.js"></script>
</head>
<body>
<h1>WebStorage Test</h1>
<h3>1. localStorage 테스트</h3>
<p>
로컬스토리지란, 
기존 사용자 정보를 저장하는 객체로 서버측에서 생성 저장하는 
쿠키(Cookie) 객체를 사용했었음. 브라우저의 인터넷옵션의 
보안등급을 높이면 쿠키가 사용 안 됨.<br>
브라우저에 준비된 별도의 저장공간을 이용할 수 있음.<br>
localStorage 는 자바스크립트에서 제공되는 객체로, 도메인별로  
저장공간을 만들어서, 사용자 데이터를 저장할 수 있게 해 준다.<br>
브라우저가 종료되어도 저장되어 있음. 직접 삭제해야 지워짐. <br>
저장은 key, value 쌍으로 저장함.
</p>
<h5>localStorage 에 값 저장하기</h5>
키(key) : <input type="text" id="key"> <br>
값(value) : <input type="text" id="value"> <br>
<button onclick="addItem();">저장소에 추가</button> <br>
<hr>
<h5>localStorage 에 저장된 데이터 확인하기</h5>
<button onclick="selectAll();">console 에 출력</button> <br>
<hr>
<h5>localStorage 에 저장된 값 한 개 확인하기</h5>
조회할 키(key) : <input type="text" id="getKey"> <br>
<button onclick="selectOne();">값 조회</button> <br>
<hr>
<h5>localStorage 비우기</h5>
<button onclick="deleteAll();">저장소 비우기</button> <br>
<hr>
<h5>localStorage 에 저장값 한 개 제거하기</h5>
제거할 키 : <input type="text" id="deleteKey"> <br>
<button onclick="deleteItem();">값 1개 제거</button> <br>
<hr>
<script type="text/javascript">
	function addItem(){
		var key = $('#key').val();
		var value = $('#value').val();
		
		if(!window.localStorage){
			alert("localStorage 기능이 지원되지 않습니다.");
		}else{
			localStorage.setItem(key, value);
		}
	}
	
	function selectAll(){
		console.log(localStorage);
	}
	
	function selectOne(){
		var key = $('#getKey').val();
		alert(localStorage.getItem(key));
	}
	
	function deleteAll(){
		localStorage.clear();
		console.log(localStorage); //출력 확인 : 비어있음
	}
	
	function deleteItem(){
		var key = $('#deleteKey').val();
		localStorage.removeItem(key);
		console.log(localStorage); //삭제 확인
	}
</script>
<h2>2. sessionStorage 테스트</h2>
<p>
세션스토리지란, 기존 쿠키에 사용자 정보를 저장하는 방식은 
로컬스토리지와 같으나 브라우저가 종료되면 저장된 정보도 함께 
사라짐.
</p>
<h5>sessionStorage 에 값 저장하기</h5>
키(key) : <input type="text" id="skey"> <br>
값(value) : <input type="text" id="svalue"> <br>
<button onclick="saddItem();">저장소에 추가</button> <br>
<hr>
<h5>sessionStorage 에 저장된 데이터 확인하기</h5>
<button onclick="sselectAll();">console 에 출력</button> <br>
<hr>
<h5>sessionStorage 에 저장된 값 한 개 확인하기</h5>
조회할 키(key) : <input type="text" id="sgetKey"> <br>
<button onclick="sselectOne();">값 조회</button> <br>
<hr>
<h5>sessionStorage 비우기</h5>
<button onclick="sdeleteAll();">저장소 비우기</button> <br>
<hr>
<h5>sessionStorage 에 저장값 한 개 제거하기</h5>
제거할 키 : <input type="text" id="sdeleteKey"> <br>
<button onclick="sdeleteItem();">값 1개 제거</button> <br>
<hr>
<script type="text/javascript">
	function saddItem(){
		var key = $('#skey').val();
		var value = $('#svalue').val();
		
		if(!window.sessionStorage){
			alert("sessionStorage 기능이 지원되지 않습니다.");
		}else{
			sessionStorage.setItem(key, value);
		}
	}
	
	function sselectAll(){
		console.log(sessionStorage);
	}
	
	function sselectOne(){
		var key = $('#sgetKey').val();
		alert(sessionStorage.getItem(key));
	}
	
	function sdeleteAll(){
		sessionStorage.clear();
		console.log(sessionStorage); //출력 확인 : 비어있음
	}
	
	function sdeleteItem(){
		var key = $('#sdeleteKey').val();
		sessionStorage.removeItem(key);
		console.log(sessionStorage); //삭제 확인
	}
</script>








</body>
</html>




