<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>first</title>
</head>
<body>
<h1>open api 활용 테스트</h1>
<h3><a href="./customerInsertForm.jsp">주소, 우편번호 검색 api</a></h3>
<p>행안부 api 는 키를 신청해서 발급받아, url 에 키값을 추가해서 사용.
다음 api 는 키 발급없이 url 만으로 api 사용할 수 있음.</p>

<h3><a href="./kakaoLogin.html">카카오 로그인 api</a></h3>
<a href="https://developers.kakao.com/docs/latest/ko/kakaologin/js">자바스크립트 사용법</a>
<br>

<h3><a href="./kakaoMap.jsp">카카오 Map api</a></h3>

<h3><a href="./payment.jsp">I'mport 결재 api</a></h3>

<h3><a href="/first/views/testapi/testGeolocation.html">Geolocation API</a></h3>
<h3><a href="/first/views/testapi/testWebStorage.html">WebStorage API</a></h3>
<h3><a href="/first/views/testapi/testWebSocket.html">WebSocket API</a></h3>
<h3><a href="#">WebWorker API</a></h3>
<h3><a href="#">IndexedDB API</a></h3>

</body>
</html>