<!DOCTYPE  xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>testjpa2</title>
    <style type="text/css">
        table#toplist td {
            text-align: center;
        }
        div#inputarea {
            width: 500px;
            border: 1px solid darkred;
            margin-left: 450px;
        }
    </style>
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        $(function (){
            //조회수 많은 인기 게시글 상위 3개 조회 출력 처리
            $.ajax({
                url: "/boards/btop3",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                success: function(data){
                    console.log("success : " + data);

                    //object --> string
                    var str = JSON.stringify(data);
                    console.log(str)

                    //string --> json
                    var json = JSON.parse(str);
                    console.log(json)

                    values = "";
                    for(var i in json){
                            values += "<tr><td>" + json[i].boardNum
                            + "</td><td><a href='#'  onclick='detailCall(" + json[i].boardNum + ");' >"
                            + json[i].boardTitle   + "</a></td><td>"
                            + json[i].boardReadCount + "</td></tr>";
                    }

                    $('#toplist').html($('#toplist').html() + values);
                    //$('#toplist').append(values);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log("error : " + jqXHR + ", " + textStatus + ", " + errorThrown);
                }
            });  //ajax

            $('#resetBtn').on('click', function(){
                $('#bnum').val("");
                $('#btitle').val("");
                $('#bwriter').val("");
                $('#bcontent').val("");
                $('#rcount').val("");
                $('#bdate').val("");
                $('#bfile').val("");
                //페이지 새로고침 강제 처리
                window.location.reload(true);
            });  //리셋버튼 클릭시

            //등록 버튼 클릭하면, input 의 값들을 읽어와서, json 객체 만들어서 서버로 요청 보내기
            $('#registerBtn').on('click', function(){
                //값을 입력받은 input 태그에 접근
                var inputBtitle = $('#btitle');
                var inputBwriter = $('#bwriter');
                var inputBcontent = $('#bcontent')

                //각 input 태그에 기록된 값 추출
                var titleVal = inputBtitle.val();
                var writerVal = inputBwriter.val();
                var contentVal = inputBcontent.val();

                //전송할 json 객체 만들기
                var boardObject = {
                    boardTitle: titleVal,
                    boardWriter: writerVal,
                    boardContent: contentVal
                };

                $.ajax({
                    type: "POST",
                    url: "/boards",
                    data: JSON.stringify(boardObject),
                    contentType: "application/json; charset=UTF-8",
                    success: function(){
                        alert('Created');
                        //페이지 새로고침 강제 처리
                        window.location.reload(true);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log("error : " + jqXHR + ", " + textStatus + ", " + errorThrown);
                    }
                });  //글등록 ajax
            });   //click  등록버튼

            $('#deleteBtn').on('click', function (){
                var boardNumValue = $('#bnum').val();

                $.ajax({
                    type: "DELETE",
                    url: "/boards/" + boardNumValue,
                    contentType: "application/json; charset=UTF-8",
                    success: function (){
                        alert("Deleted");
                        window.location.reload(true);  //새로고침
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log("error : " + jqXHR + ", " + textStatus + ", " + errorThrown);
                    }
                });  //글삭제 ajax
            });  //삭제 버튼 클릭

            $('#modifyBtn').on('click', function (){
                //각 input 태그에 기록된 값 추출
                var titleVal = $('#btitle').val();
                var contentVal = $('#bcontent').val();
                var boardNumValue = $('#bnum').val();

                //전송할 json 객체 만들기
                var boardObject = {
                    boardNum: boardNumValue,
                    boardTitle: titleVal,
                    boardContent: contentVal
                };

                $.ajax({
                    type: "PUT",
                    url: "/boards/" + boardNumValue,   //put 전송시에는 반드시 url 뒤에  pathVariable 이 필요함
                    //pathvariable 에 대한 값이 없으면, 자동 post 로 전송이 감
                    data: JSON.stringify(boardObject),
                    contentType: "application/json; charset=UTF-8",
                    success: function (){
                        alert("Modified");
                        window.location.reload(true);  //새로고침
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log("error : " + jqXHR + ", " + textStatus + ", " + errorThrown);
                    }
                });  //글수정 ajax
            });     //수정 버튼 클릭

        });  //document.ready ---------------------------------------------------------------

        //--------------------------------------------------------------------------------------
        //목록에서 제목 클릭시 페이지 오른쪽에 클릭한 글의 상세보기가 출력되게 함
        function detailCall(bnum){
            //alert(bnum);
            $.ajax({
                url: "/boards/bdetail/" + bnum,
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                success: function(data){
                    console.log("success : " + data);

                    $('#bnum').val(data.boardNum);
                    $('#btitle').val(data.boardTitle);
                    $('#bwriter').val(data.boardWriter);
                    $('#bcontent').val(data.boardContent);
                    $('#rcount').val(data.boardReadCount);
                    $('#bdate').val(data.boardDate);
                    $('#bfile').val(data.boardOriginalFileName);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log("error : " + jqXHR + ", " + textStatus + ", " + errorThrown);
                }
            });  //ajax
        }
    </script>
</head>
<body>
  <h1>board service page : jpa 두번째 방법</h1>
  <hr>
  <!-- 조회수 많은 인기게시글 3개 출력 : ajax -->
  <div style="float:left;border:1px solid navy;padding:5px;margin:5px;margin-left:50px;">
      <h4>인기 게시글</h4>
      <table id="toplist" border="1" cellspacing="0" width="350">
          <tr><th>번호</th><th>제목</th><th>조회수</th></tr>
      </table>
  </div>
  <!-- 상세보기 출력용 -->
  <div id="inputarea">
      <table>
          <tr>
              <td><label for="bnum">번호</label></td>
              <td><input type="text" name="boardNum" id="bnum" value=""></td>
          </tr>
          <tr>
              <td><label for="btitle">제목</label></td>
              <td><input type="text" name="boardTitle" id="btitle" value=""></td>
          </tr>
          <tr>
              <td><label for="bwriter">작성자</label></td>
              <td><input type="text" name="boardWriter" id="bwriter" value=""></td>
          </tr>
          <tr>
              <td><label for="bcontent">내용</label></td>
              <td><textarea name="boardContent" id="bcontent" cols="50" rows="5"></textarea></td>
          </tr>
          <tr>
              <td><label for="rcount">조회수</label></td>
              <td><input type="text" name="boardReadCount" id="rcount"></td>
          </tr>
          <tr>
              <td><label for="bdate">등록날짜</label></td>
              <td><input type="date" name="boardDate" id="bdate" readonly></td>
          </tr>
          <tr>
              <td><label for="bfile">첨부파일</label></td>
              <td><input type="text" name="boardOriginalFileName" id="bfile"><br>
                        <input type="file" name="upfile" id="upfile"></td>
          </tr>
      </table>
      <hr>
      <button id="registerBtn">등록</button> &nbsp;
      <button id="modifyBtn">수정</button> &nbsp;
      <button id="deleteBtn">삭제</button> &nbsp;
      <button id="resetBtn">내용지우기</button>
  </div>
</body>
</html>