<!DOCTYPE xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>testjpa2</title>
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        $(() => {
            $.ajax({
                url: "boards/btop3",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
                success: function (data) {
                    console.log("success : " + data);

                    //object --> string
                    var str = JSON.stringify(data);

                    //string --> json
                    var json = JSON.parse(str);

                    values = "";
                    for (var i in json.list) {
                        values += "<tr><td>" + json.list[i].bnum
                            + "</td><td><a href='/boards/" + json.list[i].bnum + "'>"
                            + decodeURIComponent(json.list[i].btitle).replace(/\+/gi, " ")
                            + "</a></td><td>"
                            + json.list[i].rcount + "</td></tr>";
                    }

                    $('#toplist').html($('#toplist').html() + values);
                    //$('#toplist').append(values);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("error : " + jqXHR + ", " + textStatus + ", " + errorThrown);
                }
            });  // document.ready
        });  // document.ready
    </script>
    <style type="text/css">
        table#toplist td {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>board service page : jpa 두번째 방법</h1>
<hr>
<div style="float:left;border:1px solid navy;padding:5px;margin:5px;margin-left:50px;">
    <h4>인기 게시글</h4>
    <table id="toplist" border="1" cellspacing="0" width="350">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>조회수</th>
        </tr>
    </table>
</div>
</body>
</html>