<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>first</title>
<script type="text/javascript" src="/first/resources/js/jquery-3.7.0.min.js"></script>
</head>
<body>
<h1>다중 파일 업로드 예제</h1>
<hr>
<h2>방법 1 : multiple 속성을 사용한 경우</h2>
<form id="multiForm" action="/first/multiinsert" method="post" enctype="multipart/form-data">
<table width="500" border="1" cellspacing="0">
	<tbody>
	<tr><th width="120">제 목</th>
		<td><input type="title" name="title" size="30" required></td>
	</tr>
	<tr><th width="120">작성자</th>
		<td><input type="writer" name="writer" size="30" required></td>
	</tr>
	<tr><th width="120">내 용</th>
		<td><textarea name="content" rows="5" cols="50"></textarea></td>
	</tr>
	<tr><th width="120">첨부파일</th>
		<td><input type="file" name="multifile" id="multifile" multiple onchange="addHidden(); return false;"><br>
			<div id="filenamesView"></div></td>
			
			<script type="text/javascript">
			function addHidden(){
				const form = document.getElementById("multiForm");
				const multiFile = document.getElementById("multifile");
				const namesView = document.getElementById("filenamesView");
				
				for(var i = 0; i < multiFile.files.length; i++){
					console.log(multiFile.files[i].name);
					var fname = multiFile.files[i].name;
					namesView.innerHTML += "<span>" + fname + "</span><br>";
					
					var inputTag = document.createElement("input");
					inputTag.setAttribute("type", "hidden"); 
					inputTag.setAttribute("name", "filenames");
					inputTag.setAttribute("value", fname);
					
					form.appendChild(inputTag);
				}
				
				console.log(form.elements.length);
			}
			</script>
	</tr>
	<tr>
		<th colspan="2">
			<input type="submit" value="글 등록하기">
		</th>		
	</tr>
	</tbody>
</table>
</form>
<br>
<hr>

<h2>방법 2 : input file 을 여러 개 추가하면서 사용한 경우</h2>
<form id="multiFileForm" action="/first/multiinsert2" method="post" enctype="multipart/form-data">
<table width="500" border="1" cellspacing="0">
	<tbody>
	<tr><th width="120">제 목</th>
		<td><input type="title" name="title" size="30" required></td>
	</tr>
	<tr><th width="120">작성자</th>
		<td><input type="writer" name="writer" size="30" required></td>
	</tr>
	<tr><th width="120">내 용</th>
		<td><textarea name="content" rows="5" cols="50"></textarea></td>
	</tr>
	<tr><th width="120">첨부파일</th>
		<td><div id="fileDiv" class="fileArea">
			<input type="file" name="file_0" class="f_0"> &nbsp 
			<input type="button" value="추가" class="f_0" onclick="addFile(0); return false;"></div></td>
			
			<script type="text/javascript">
			let idNum = 0;
			
			function addFile(num){
				var value = $('input[type=file]').eq(num).val();
				
				const fileDiv = document.getElementById("fileDiv");	
				idNum++;
				fileDiv.innerHTML += "<input type='file' name='file_" + idNum + "' class='f_" + idNum + "'>";
				fileDiv.innerHTML += "<input type='button' value='추가' class='f_" + idNum + "' onclick='addFile(); return false;'> &nbsp"; 
				fileDiv.innerHTML += "<input type='button' value='삭제' class='f_" + idNum + "' onclick='fileDelete(" + idNum + "); return false;'>";
				fileDiv.innerHTML += "<br class='f_" + idNum + "'>";
				
				$('input[type=file]').eq(num).val(value);
			}
			function fileDelete(num){
				$('.f_' + num).remove();
			}
			</script>
	</tr>
	<tr>
		<th colspan="2">
			<input type="submit" value="글 등록하기">
		</th>		
	</tr>
	</tbody>
</table>
</form>
<br>



</body>
</html>