<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>first</title>
<script type="text/javascript" src="/first/resources/js/jquery-3.7.0.min.js"></script>
<script type="text/javascript" src="/first/resources/js/HuskyEZCreator.js" charset="utf-8"></script>
<script type="text/javascript">
 
var oEditors1 = [];
var oEditors2 = []; 
    
$(function(){
 
	//___________ 에디터 쓸 부분 ________________________
	 
	nhn.husky.EZCreator.createInIFrame({
	    oAppRef: oEditors1,
	    elPlaceHolder: "pd_content1",
	    sSkinURI: "/first/views/example/nhnSmartEditor.html",    
	    htParams : {bUseToolbar : true,
	        fOnBeforeUnload : function(){
	            
	        }
	    }, //boolean
	    fOnAppLoad : function(){
	        //기존 저장된 내용의 text 내용을 에디터상에 뿌려주고자 할때 사용
	        oEditors1.getById["pd_content1"].exec("PASTE_HTML", 
	        		["공고제목 : <br> 모집분야 : <br>교용형태 :  <br>모집인원 : <br>성별 : <br>연령 : <br>학력 : <br>자격조건 : <br>우대조건 : <br>급여 : <br>복리후생 :<br>근무회사명 : <br>근무지주소 :  <br>모집종료일 : <br>접수방법 : <br>담당자명 : <br>연락처 : <br>이메일 : <br>팩스번호 :"]);
	    },
	    fCreator: "createSEditor2" 
	});
 
    //___________ 에디터 쓸 부분 ________________________
 
});  //document ready
 
function fn_submit(){ 
 
	if (!confirm('저장하시겠습니까?')) {
	    return false;
	}
	 
	var jobcheck = $("#pd_jobcheck").val();
	 
	if(jobcheck == 1){
	    oEditors1.getById["pd_content1"].exec("UPDATE_CONTENTS_FIELD", []);    // 에디터의 내용이 textarea에 적용됩니다.
	    $("#pd_content2").remove();
	}else if(jobcheck == 2){
	    oEditors2.getById["pd_content2"].exec("UPDATE_CONTENTS_FIELD", []);    // 에디터의 내용이 textarea에 적용됩니다.
	    $("#pd_content1").remove();
	}else{
	    oEditors.getById["pd_content"].exec("UPDATE_CONTENTS_FIELD", []);    // 에디터의 내용이 textarea에 적용됩니다.
	}	 
 
}  //function fn_submit
 
 
function formChange(){
	var jobcheck = $("#pd_jobcheck").val();
	if(jobcheck == 1){
	    $("#employ").show();
	    $("#jobhunting").hide();
	}else{
	    $("#employ").hide();
	    $("#jobhunting").show();
	    
	    
	    $(".bbs_write").each(function(){
	        if($("#jobhunting").hasClass("onepoint") == false){
	            
	            $("#jobhunting").addClass("onepoint");
	            
	            
	            nhn.husky.EZCreator.createInIFrame({
	                oAppRef: oEditors2,
	                elPlaceHolder: "pd_content2",
	                sSkinURI: contextPath+"/smarteditor/SmartEditor2Skin.html",    
	                htParams : {bUseToolbar : true,
	                    fOnBeforeUnload : function(){
	                        
	                    }
	                }, //boolean
	                fOnAppLoad : function(){
	                    //기존 저장된 내용의 text 내용을 에디터상에 뿌려주고자 할때 사용
	                    oEditors2.getById["pd_content2"].exec("PASTE_HTML", ["성명 : <br>나이 : <br>성별 : <br>주소 : <br>연락처 : <br>이메일 : <br>학력 :  <br>경력 : <br>지원분야 : <br>근무형태 : <br>근무기간 : <br>자격증 현황 : <br>희망근무지역 :  <br>희망급여 : <br>자기소개서 :"]);
	                },
	                fCreator: "createSEditor2" 
	            });
	        }
	    });    
	    
	}
}  //function formChange
 
</script>
</head>
<body>
<h1>네이버 스마트 에디터 API 사용 폼 구현</h1>
<p>
SmartEditor™ 는 JavaScript로 구현된 웹 기반의 WYSIWYG 편집기입니다.<br>
WYSIWYG 모드 및 HTML 편집 모드와 TEXT 모드를 제공하고, 
자유로운 폰트 크기 설정 기능, 줄 간격 설정 기능, 단어 찾기/바꾸기 기능 등 
편집에 필요한 다양한 기능을 제공하므로 사용자들은 SmartEditor™를 사용하여 
쉽고 편리하게 원하는 형태의 글을 작성할 수 있습니다.<br>
또한, SmartEditor™의 구조는 기능을 쉽게 추가할 수 있는 플러그인 구조로 되어 있어 
정해진 규칙에 따라 플러그인을 만들기만 하면 됩니다.<br>
</p>
링크 : https://github.com/naver/smarteditor2/releases/tag/v2.8.2.3 <br>
<hr>
<ol>
	<li>스마트 에디터 다운로드 : 2.8.2</li>
	<b>2.9 부터는 사진업로드 기능이 제공되지 않음</b>
	<li>다운받은 소스 코드 zip 파일의 압축을 풀어 줌</li>
	<li>example/smarteditor 폴더 만들고, 압축 푼 폴더 안의 html 파일들을 복사해 넣음</li>
	<b>sample 폴더 안에 사진 업로드에 필요한 파일들이 들어 있음</b>
	<li></li>
	<li></li>
</ol>
<hr>
 
<div class="bbs_write">
<table class="write_1" width="100%" cellspacing="0" summary=""> 
<caption></caption>
<colgroup>
<col width="15%" />
<col />
</colgroup>
<tbody>
    
<tr>
    <th>구인/구직</th>
    <td> 
        <select id="pd_jobcheck" name="pd_jobcheck" style="width:150px;" onchange="formChange();">
            <option value=""></option>
        </select>
    </td>
</tr>
 
<tr id="employ">
    <th>본문</th>
    <td>
        <textarea id="pd_content1" name="pd_content" rows="4" cols="110">
        </textarea>
    </td>
</tr>
<tr id="jobhunting" style="display:none;">
    <th>본문</th>
    <td>
        <textarea id="pd_content2" name="pd_content" rows="4" cols="110">
        </textarea>
    </td>
</tr>
</tbody>
</table>
</div>
 

</body>
</html>